<style>
    body {
        background-color: e2e1eb;
    }

    #footer {
        background-color: #301fed; 
        position: fixed; 
        left: 0; 
        bottom: 0; 
        height: 70px;
        padding-left: 29px;
        color: #f3f2ff; 
        width: 99%; 
    }

    .all-symbols {
        float:left;
        margin-top:19px;
        padding-left:199px;
    }

    .symbol {
        color: #fffcfc;
        margin-top:6px;
        margin-left:29px;
        height:29px;
    }
</style>
